
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

body {
    background-color: black;
    display: flex;
    justify-content: center;
    padding-top: 50px;
}


.post-container {
    background-color: white;
    width: 500px;
    border: 1px solid #dbdbdb;
}


.post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

.user-info {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-html {
    font-size: 35px;
}

.user-text {
    display: flex;
    flex-direction: column;
}


.post-image img {
    width: 100%;
    display: block;
}


.post-footer {
    padding: 15px;
}


.interaction-bar {
    display: flex;
    justify-content: space-between;
    font-size: 24px;
    margin-bottom: 15px;
}


.icono-rojo {
    color: red; 
    cursor: pointer;
}


.icono-rojo:hover {
    transform: scale(1.2);
    transition: transform 0.2s;
}

.left-icons {
    display: flex;
    gap: 15px;
}


.likes {
    font-size: 14px;
    margin-bottom: 10px;
}


.description {
    font-size: 14px;
    line-height: 1.4;
    text-align: justify;
}
